@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Nunito:wght@200;300;400&display=swap');

html {
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
body {
  margin: 0;
  padding: 0;
}
.socials-container{
  display:flex;
  margin: 2rem auto;
  position:absolute;
  justify-items: center;
  align-items: center;
  top:85%;
  ;
  text-align:center;
}
.logos{
  filter: invert(22%) sepia(92%) saturate(4533%) hue-rotate(307deg) brightness(104%) contrast(98%) drop-shadow(2px 2px 3px rgba(0, 0, 0, .8));
  width:30px;
  justify-self: center;
  padding:0 10px;
}
.logos:hover{
  filter: invert(27%) sepia(60%) saturate(2374%) hue-rotate(258deg) brightness(89%) contrast(97%) drop-shadow(3px 3px 4px rgb(0, 0, 0));
  transform:scale(1.05);
}
.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(18, 0, 31);
  align-items: stretch;
  gap: 1rem;
  padding: 0 1rem;
}
.nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  gap: 0.5rem 0.25rem;
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
}
.nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 75px;
  text-decoration: none;
  color: #ff6acd;
  padding: 0 0.25rem;
}
.nav a:hover {
  color: rgb(205, 129, 228);
}
.active {
  background-color: rgb(41, 8, 65);
}
li:hover {
  background-color: #8a36c5;
}
.nav h2 {
  font-family: 'Meow Script', cursive;
  font-size:45px;
  padding:0;
  margin:.5rem;
  font-weight: 200;
}

.home,
.about,
.contact {
  padding: 2rem;
}
.home {
  background-color: rgba(197, 67, 240, 0.6);
  border-radius: 15px;
  margin: 1.5rem 1.5rem;
  width: 60%;
  justify-content: center;
  filter: drop-shadow(4px 5px 3px rgb(0, 0, 0));
}
.home h1 {
  margin: 0;
}
.circle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
@media only screen and (max-width: 700px) {
  .home {
    background-color: rgba(160, 59, 194, .8);
  }
}
@media only screen and (max-width: 520px) {
  .nav h2 {
     font-size: 30px;
  }
  .circle-container {
    display: none;
  }
  .home {
    width: 60%;
    margin:2rem auto;
    padding: 20px;
    justify-self: center;
    align-self: center;
  }
}  
@media only screen and (max-width: 400px) {
  .nav {
    gap: 3rem;
    padding: 0 0.5rem;
  }
  .nav h2 {
    width: 250px;
    font-size: 20px;
  }
  .nav ul {
    flex-wrap: wrap;
    margin: auto;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nav a {
    height: 100%;
    width: 50px;
    padding: 0.5rem;
  }
  li:hover {
    background-color: none;
    filter: drop-shadow(2px 2px 2px rgb(210, 61, 255));
  }
  .home,
  .about,
  .contact {
    padding: 1rem;
  }
  .home {
    margin: 1rem;
    width: 80%;
  }
}
.circle1 {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: rgba(124, 70, 141, 0.5);
  position: absolute;
  z-index: -1;
  top: 5%;
  right: 15%;
  margin: 1rem auto;
}
.circle2 {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: rgba(59, 0, 77, 0.6);
  position: absolute;
  z-index: -2;
  top: 12%;
  right: -20%;
  margin: 1rem auto;
}
.circle3 {
  height: 95px;
  width: 95px;
  border-radius: 50%;
  background-color: rgba(210, 61, 255, 0.8);
  position: absolute;
  z-index: -3;
  top: 10%;
  right: 12%;
  margin: 1rem auto;
}
.circle4 {
  height: 220px;
  width: 220px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  z-index: -3;
  top: -8%;
  right: -5%;
  margin: 1rem auto;
}
.circle5 {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  background-color: rgba(210, 61, 255, 0.8);
  position: absolute;
  z-index: -3;
  top: 40%;
  right: -5%;
  margin: 1rem auto;
}
.circle6 {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  z-index: -1;
  top: 50%;
  right: -18%;
  margin: 1rem auto;
}
